{{> carousel}}
<div class="container">
    <div class="jumbotron jumbotron-fluid p-4 m-0 text-white">
        <div class="container">
            <h1 class="display-4">Добро пожаловать</h1>
            <h3 class="lead">На лучший сайт по продаже карточек для
                <span class="font-weight-bold">
                Magic: The Gathering
            </span> </h3>
            <p class="lead mt-4">
                <a class="btn btn-dark btn-lg" href="/cards" role="button">Перейти на площадку</a>
            </p>
        </div>
    </div>
    <div id="list" class="container bg-secondary p-4">
    <ul class="list-unstyled text-white">
        <li class="media">
            <img class="mr-3" src="/images/banknotes-32.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Низкие цены</h5>
            Если найдете цену ниже - покупайте. Скидок у нас нет!
            </div>
        </li>
        <li class="media my-5">
            <img class="mr-3" src="/images/emoticon-12-32.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Большой ассортимент</h5>
            В нашей коллекции уже есть не менее 5 карточек. Возможно, будет больше
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="/images/globe-6-32.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Редкие карточки</h5>
            Каждая из наших, как минимум 5, карточек выпущена тиражом всего лишь в 1 000 000 экз.
            </div>
        </li>
    </ul>
    </div>
</div>
<style>
    /*html, body {*/
    /*    width: 100%;*/
    /*    height:100%;*/
    /*}*/

    .jumbotron, #list {
        background: linear-gradient(-45deg, #381d2a, #0E4749, #4E5166, #470024);
        background-size: 400% 400%;
        animation: gradient 7s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
