<div class="container text-white">
<form class="row g-3 mt-4" id="formLogin" action="/login" method="post">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">E-mail:</label>
    <input type="email" name="user_email" class="form-control" id="inputEmail4" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Пароль:</label>
    <input type="password" name="user_password" class="form-control" id="inputPassword4" required>
  </div>
  
 <div class="col-12 mt-4 d-flex mb-4 align-items-center">
    <button type="submit" class="btn btn-dark mb">Войти</button>
    <div class="container" id="errorMessageLogin"></div>
  </div>
</form>
</div>
